

.section_edit_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 1rem;
}

.highlight {
    font-weight: bold;
}

.sections-texts {
    list-style-type: upper-roman!important;
}

.ai-import-link {
  margin-left: 0.75rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: #790822;
}