<!-- src/app/pages/section-detail/section-detail.component.html -->

<!-- Back button -->

  
  <div *ngIf="section">
    <h2> 
        <button (click)="goBack()">
        <i class="material-icons" style="font-size:16px" title="Înapoi">arrow_back</i>
      </button>{{ section.title }}  {{ section.subtitle !== null ? ' - ' + section.subtitle : '' }}
      <button (click)="deleteSection()"><i class="material-icons" style="font-size:16px" title="Șterge">delete</i></button>
    </h2>
  
    <div style="display: flex; justify-content: space-between;">
        <div>
            <table class="section-edit-fields" style="border-collapse: collapse; ">
                <tr>
                  <td><label>Titlu:</label></td>
                  <td><input [(ngModel)]="editedTitle" /></td>
                </tr>
                <tr>
                  <td><label>Subtitlu:</label></td>
                  <td><input [(ngModel)]="editedSubtitle" /></td>
                </tr>
                <tr>
                  <td><label>Audio URL:</label></td>
                  <td><input [(ngModel)]="editedAudioUrl" /></td>
                </tr>
                <tr>
                  <td><label>Durată:</label></td>
                  <td><input [(ngModel)]="editedDuration" type="text" timeInput /></td>
                </tr>
                <tr>
                  <td><label>URL Imagine:</label></td>
                  <td><input [(ngModel)]="editedImageUrl" /></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: left;">
                  <button (click)="saveSection()">
                    <i class="fa fa-save"></i> Salvează
                  </button>
                  </td>
                </tr>
              </table>
                      <!-- audio player for the audio url of the section-->
        <audio *ngIf="section.audio_url" controls>
            <source [src]="section.audio_url" type="audio/mpeg" />
            Your browser does not support the audio element.</audio>
        </div>

      <img *ngIf="section.image_url" [src]="section.image_url" alt="Section Image" style="margin-left: 20px; max-width: 200px; max-height: 200px;">

    </div>
  
    <hr />
  
    <!-- Existing assigned texts in the section -->
    <h3>Texte în secțiune</h3>
  
    <table class="sections-texts" style="border-collapse: collapse; margin-top: 20px;">
      <tr>
        <th style="padding: 8px;">#</th>
        <th style="padding: 8px;">Text</th>
        <th style="padding: 8px;">Interval</th>
        <th style="padding: 8px;">Acțiuni</th>
      </tr>
      <tr *ngFor="let st of sectionTexts; let i = index" [ngStyle]="{'background-color': i % 2 === 0 ? '#f2f2f2' : 'white'}">
        <td style="padding: 8px;">{{ i + 1 }}</td>
        <ng-container *ngIf="editingSectionText === null || editingSectionText.id !== st.id;">
            <td >
              <span *ngIf="allLitTexts && allLitTexts.length">
                  {{ st?.repetition! > 1 ? st.repetition + ' x' : ''}}
                  <a [routerLink]="['/liturgicalTexts', st.liturgical_text_id, st.start_time]">
                    {{ st?.text?.title?.length ? st?.text?.title : 'Fără Titlu' }}
                  </a>
                </span>
            </td>

            <td style="padding: 8px; ">
              {{ st.start_time ?? 0 | timeFormat}} → {{ st.end_time ?? 0 | timeFormat  }}
            </td>
            <td style="padding: 8px;" *ngIf="!editingSectionText">
              <button (click)="moveUp(i)" [disabled]="i === 0" title="Mută în sus">↑</button>
              <button (click)="moveDown(i)" [disabled]="i === sectionTexts.length - 1" title="Mută în jos">↓</button>
              <button (click)="deleteSectionText(st, i)">
                <i class="material-icons" style="font-size:12px" title="Șterge">delete</i>
              </button>
              <button (click)="setEditingSectionText(st)">
                <i class="material-icons" style="font-size:12px" title="Editează">edit</i>
              </button>
            </td>
        </ng-container>
        <ng-container *ngIf="editingSectionText !== null && editingSectionText.id === st.id;">
          <td>
            {{st.text?.title}}, 
            <label>Repetări: </label>
            <input type="number" [(ngModel)]="editingSectionText.repetition" style="width: 60px;"/>

          </td>
          <td>
            <input id="startTime" type="text" [(ngModel)]="editingSectionText.start_time" timeInput style="width: 60px;"/>
            →
            <input id="endTime" type="text" [(ngModel)]="editingSectionText.end_time" timeInput style="width: 60px;"/>
          </td>
          <td>
            <button (click)="saveEditedSectionText()">
              <i class="material-icons" style="font-size:12px" title="Salveaza">save</i></button>
            <button (click)="clearEditingSectionText()"><i class="material-icons" style="font-size:12px" title="Renunță">cancel</i></button>
          </td>
        </ng-container>
      </tr>
    </table>
  
    <hr />
  
    <!-- Add new text to this section -->
    <h3>Adăugați un text nou în secțiune</h3>
    <table style="border-collapse: collapse;">
      <tr>
        <td><label for="litTextSelect">Selectați un text liturgic:</label></td>
        <td>
          <select id="litTextSelect" [(ngModel)]="selectedLitTextId">
            <option value="">-- Alegeți --</option>
            <option value="new" selected>-- Text nou --</option>
            <option *ngFor="let lt of allLitTexts" [value]="lt.id">
              {{ lt.title }}
            </option>
          </select>
        </td>
      </tr>
      <tr *ngIf="selectedLitTextId === 'new'">
        <td><label for="newTextTitle">Titlu:</label></td>
        <td>
          <input id="newTextTitle" type="text" [(ngModel)]="newLiturgicalTextTitle" placeholder="Ex: Născătoare de Dumnezeu" />
        </td>
      </tr>
      <tr>
        <td><label for="startTime">Timp început:</label></td>
        <td>
          <input id="startTime" type="text" [(ngModel)]="newStartTime" placeholder="Ex: 0" timeInput />
        </td>
      </tr>
      <tr>
        <td><label for="endTime">Timp sfârșit:</label></td>
        <td>
          <input id="endTime" type="text" [(ngModel)]="newEndTime" placeholder="Ex: 20" timeInput/>
        </td>
      </tr>
      <tr>
        <td><label for="repetitions">Repetări:</label></td>
        <td>
          <input id="repetitions" type="number" [(ngModel)]="newRepetitions" placeholder="Ex: 1" />
        </td>
      </tr>
    </table>
  
    <button (click)="addLiturgicalTextToSection()">
      <i class="fa fa-plus"></i> Adăugați
    </button>
  </div>
  