<!-- src/app/pages/section-detail/section-detail.component.html -->

<!-- Back button -->

  
  <div *ngIf="section">
    <h2> 
        <button (click)="goBack()">
        <i class="material-icons" style="font-size:16px" title="Înapoi">arrow_back</i>
      </button>{{ section.title }}  {{ section.subtitle !== null ? ' - ' + section.subtitle : '' }}
      <button (click)="deleteSection()"><i class="material-icons" style="font-size:16px" title="Șterge">delete</i></button>
    </h2>
  
    <div style="display: flex; justify-content: space-between;">
        <div>
            <table class="section-edit-fields" style="border-collapse: collapse; ">
                <tr>
                  <td><label>Titlu:</label></td>
                  <td><input [(ngModel)]="editedSection.title" />
                    &nbsp;
                  <button (click)="toggleShowTitle()">
                    <i *ngIf="editedSection.show_title" class="material-icons" style="font-size:12px" title="Afiseaza titlul">visibility</i>
                    <i *ngIf="!editedSection.show_title" class="material-icons" style="font-size:12px" title="Ascunde titlul">visibility_off</i>
                  </button>
                  </td>
                </tr>
                <tr>
                  <td><label>Subtitlu:</label></td>
                  <td><input [(ngModel)]="editedSection.subtitle" />
                    &nbsp;
                    <button (click)="toggleShowSubtitle()">
                      <i *ngIf="editedSection.show_subtitle" class="material-icons" style="font-size:12px" title="Afiseaza subtitlul">visibility</i>
                      <i *ngIf="!editedSection.show_subtitle" class="material-icons" style="font-size:12px" title="Ascunde subtitlul">visibility_off</i>
                    </button>
                  
                  </td>

                </tr>
                <tr>
                  <td><label>Audio URL:</label></td>
                  <td><input [(ngModel)]="editedSection.audio_url" /></td>
                  <td><input type="file" (change)="onFileSelected($event)"></td>
                </tr>
                <tr>
                  <td><label>URL Imagine:</label></td>
                  <td><input [(ngModel)]="editedSection.image_url" /></td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: left;">
                  <button (click)="saveSection()">
                    <i class="fa fa-save"></i> Salvează
                  </button>
                  </td>
                </tr>
              </table>
                      <!-- audio player for the audio url of the section-->
        <audio *ngIf="section.audio_url" controls>
            <source [src]="section.audio_url" type="audio/mpeg" />
            Your browser does not support the audio element.</audio>
        </div>

      <img *ngIf="section.image_url" [src]="section.image_url" alt="Section Image" style="margin-left: 20px; max-width: 200px; max-height: 200px;">

    </div>
  </div>
  
    <hr />
  <div>
    <!-- Existing assigned texts in the section -->
    <h3 [align]="'left'">Texte în secțiune 


      <button (click)="editAllSectionTexts()" *ngIf="!editingSectionTexts?.length">
        <i class="material-icons" style="font-size:12px" title="Editează">edit</i>
      </button>
      <button (click)="saveAllEditedSectionTexts()" *ngIf="editingSectionTexts?.length">
        <i class="material-icons" style="font-size:12px" title="Salveaza">save</i>
      </button>
      <button (click)="cancelAllEditedSectionTexts()" *ngIf="editingSectionTexts?.length">
        <i class="material-icons" style="font-size:12px" title="anuleaza">cancel</i>
      </button>
    </h3>

    <h3>
      Timp curent:
      <span>{{floor(currentTime) | timeFormat}}</span></h3>
  
    <div style="display: flex; justify-content: left;">
      <ol class="sections-texts" style="margin-top: 20px; padding-left: 0;">
        <li *ngFor="let st of sectionTexts; let i = index"
          style="padding: 8px; display: flex; justify-content: center; align-items: left; flex-direction:column;">
          <div style="display: flex; justify-content: space-between; width: fit-content; gap: 2rem" >
            <div style="display: flex;">
              <ng-container *ngIf="!isEditingSectionText(st.id)">
                <h4 *ngIf="allLitTexts && allLitTexts.length">
                  {{i + 1}}.
                  {{ st?.repetition! > 1 ? st.repetition + ' x' : ''}}
                  <a [routerLink]="['/liturgicalTexts', st.liturgical_text_id]">
                     {{ st?.text?.title?.length ? st?.text?.title : 'Fără Titlu' }}
                  </a>
                  <span style="margin-left: 10px;">
                    {{ st.start_time ?? 0 | timeFormat}} → {{ st.end_time ?? 0 | timeFormat }}
                  </span>
                  <span style="margin-left: 10px;">
                    {{st.italic ? 'Italic' : 'Normal'}}
                  </span>

                </h4>

              </ng-container>
              <ng-container *ngIf="isEditingSectionText(st.id)">
                <span>
                  {{i + 1}}. {{st.text?.title}},
                  <label>Repetări: </label>
                  <input type="number" [(ngModel)]="getEditingSectionText(st.id)!.repetition" style="width: 60px;" />
                </span>
                <span style="margin-left: 10px;">
                  <input id="startTime" type="text" [(ngModel)]="getEditingSectionText(st.id)!.start_time" timeInput
                    style="width: 60px;" />
                  →
                  <input id="endTime" type="text" [(ngModel)]="getEditingSectionText(st.id)!.end_time" timeInput style="width: 60px;" />
                </span>
                <div style="height: 48px; display: flex; align-items: center; gap: 0.5rem">
                  <span>Stil: </span>
                  <button (click)="toggleSectionTextItalic(st.id)">
                    <span *ngIf="!getEditingSectionText(st.id)?.italic">Normal</span>
                    <span *ngIf="getEditingSectionText(st.id)?.italic">Italic</span>
                  </button>

                </div>

              </ng-container>
            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
              <div *ngIf="!isEditingSectionText(st.id)" style="display: flex; gap: 0.1rem">
                <button (click)="moveUp(i)" [disabled]="i === 0" title="Mută în sus">↑</button>
                <button (click)="moveDown(i)" [disabled]="i === sectionTexts.length - 1" title="Mută în jos">↓</button>
                <button (click)="deleteSectionText(st, i)">
                  <i class="material-icons" style="font-size:12px" title="Șterge">delete</i>
                </button>
                <button (click)="addEditingSectionText(st)">
                  <i class="material-icons" style="font-size:12px" title="Editează">edit</i>
                </button>
                <button *ngIf="playingSectionText == null || playingSectionText.id !== st.id || (playingSectionText.id === st.id && audio.paused)" (click)="playSectionText(st)">
                  <i class="material-icons" style="font-size:12px" title="Play">play_arrow</i>
                </button>
                <button *ngIf="!audio.paused && playingSectionText !== null && playingSectionText.id === st.id" (click)="pauseSectionText()">
                  <i class="material-icons" style="font-size:12px" title="Play">pause</i>
                </button>
                <button *ngIf="playingSectionText !== null && playingSectionText.id === st.id"(click)="stopPlayingSectionText()">
                  <i class="material-icons" style="font-size:12px" title="Play">stop</i>
                </button>
              </div>
              <div *ngIf="isEditingSectionText(st.id)" style="display: flex; gap: 0.1rem">
                <button (click)="saveSingleEditedSectionText(st.id)">
                  <i class="material-icons" style="font-size:12px" title="Salveaza">save</i></button>
                <button (click)="removeEditingSectionText(st.id)"><i class="material-icons" style="font-size:12px"
                    title="Renunță">cancel</i></button>

                </div>
            </div>
          </div>

          <ng-container *ngIf="isEditingSectionText(st.id);">
            <div style="width: 800px;">
              <ol>

                <p *ngIf="!getEditingSectionText(st.id)?.section_text_elements?.length">Nu există texte adăugate</p>
                <li *ngFor="let section_text_element of getEditingSectionText(st.id)?.section_text_elements; let i = index">
                  <div style="display: flex; flex-direction: row; justify-content: center; align-items: end;">

                    <div style="width: 800px;min-height: 64px">{{ section_text_element.text_element.text }}
                    </div>
                    <div style="width:400px; ">
                       <input (timeBlur)="onTextElementStartTimeChanged(st.id, i)" type="text" [(ngModel)]="section_text_element.start_time" timeInput style="width: 60px;" />
                       → 
                       <input [disabled]="i < getEditingSectionText(st.id)?.section_text_elements!.length - 1" (timeBlur)="onTextElementEndTimeChanged(st.id, i)" type="text" [(ngModel)]="section_text_element.end_time" timeInput style="width: 60px;" />

                        <span>{{" "}}</span>
                       
                       <button (click)="playAudioPart(section_text_element.start_time, section_text_element.end_time)">
                         <i *ngIf="!audio.paused && audio.currentTime >= section_text_element.start_time && audio.currentTime < section_text_element.end_time" class="material-icons" style="font-size:12px" title="Play">pause</i>
                         <i *ngIf="audio.paused || (audio.currentTime >= section_text_element.end_time || audio.currentTime < section_text_element.start_time)" class="material-icons" style="font-size:12px" title="Play">play_arrow</i>
                       </button>
                       <button *ngIf="!audio.paused && audio.currentTime >= section_text_element.start_time && audio.currentTime < section_text_element.end_time"  (click)="setEndTimeToCurrentTime(st.id, i)">
                         <i class="material-icons" style="font-size:12px" title="Play">timer</i>
                        </button>
                       <button *ngIf="audio.paused || (audio.currentTime >= section_text_element.end_time || audio.currentTime < section_text_element.start_time)" (click)="deleteSectionTextElement(st.id, i)">
                         <i class="material-icons" style="font-size:12px" title="Sterge">delete</i>
                        </button>
                     </div>

                  </div>

                </li>
              </ol>
            </div>

          </ng-container>
          <ng-container >
            <div *ngIf="!isEditingSectionText(st.id);"style="width: 800px;">
              <ol>
                <p *ngIf="!st.section_text_elements?.length">Nu există texte adăugate</p>
                <li *ngFor="let section_text_element of st.section_text_elements; let i = index">
                  <div *ngIf="(!audio.paused || (playingSectionText != null && playingSectionText.id === st.id)) && (st.start_time! + section_text_element.start_time <= currentTime) && (st.start_time! +  section_text_element.end_time > currentTime)">
                    <b>
                      {{ section_text_element.text_element.text }}
                      <span>{{((st.start_time ?? 0 )+ section_text_element.start_time) | timeFormat}}</span>
                      → 
                      <span>{{((st.start_time ?? 0) + section_text_element.end_time) | timeFormat}}</span>
                    </b>
                  </div>
                  <div *ngIf="(audio.paused && (playingSectionText == null || playingSectionText.id !== st.id)) || (st.start_time! + section_text_element.start_time > currentTime) || (st.start_time! +  section_text_element.end_time < currentTime)">
                
                      {{ section_text_element.text_element.text }}
                      <span>{{((st.start_time ?? 0 )+ section_text_element.start_time) | timeFormat}}</span>
                      → 
                      <span>{{((st.start_time ?? 0) + section_text_element.end_time) | timeFormat}}</span>
                 
                  </div>
                </li>
              </ol>
            </div>

          </ng-container>
          

        </li>
      </ol>
    
    </div>
</div>
    <hr />
  <div>
    <!-- Add new text to this section -->
      <h3>Adăugați un text nou în secțiune</h3>
      <table style="border-collapse: collapse;">
        <tr>
          <td><label for="litTextSelect">Selectați un text liturgic:</label></td>
          <td>
            <select id="litTextSelect" [(ngModel)]="newSectionText.liturgical_text_id" (change)="onLitTextSelected($event)">
              <option value="">-- Alegeți --</option>
              <option value="new" selected>-- Text nou --</option>
              <option *ngFor="let lt of allLitTexts" [value]="lt.id">
                {{ lt.title }}
              </option>
            </select>
          </td>
        </tr>
        <tr *ngIf="newSectionText.liturgical_text_id === 'new'">
          <td><label for="newTextTitle">Titlu:</label></td>
          <td>
            <input id="newTextTitle" type="text" [(ngModel)]="newLiturgicalText.title" placeholder="Ex: Născătoare de Dumnezeu" />
          </td>
        </tr>

        <tr>
          <td><label for="startTime">Timp început:</label></td>
          <td>
            <input id="startTime" type="text" [(ngModel)]="newSectionText.start_time" placeholder="Ex: 0" timeInput />
          </td>
        </tr>
        <tr>
          <td><label for="endTime">Timp sfârșit:</label></td>
          <td>
            <input id="endTime" type="text" [(ngModel)]="newSectionText.end_time" placeholder="Ex: 20" timeInput/>
          </td>
        </tr>
        <tr>
          <td><label for="repetitions">Repetări:</label></td>
          <td>
            <input id="repetitions" type="number" [(ngModel)]="newSectionText.repetition" placeholder="Ex: 1" />
          </td>
        </tr>
      </table>
    
      <ng-container *ngIf="newSectionText.liturgical_text_id === 'new'">
        <div *ngFor="let newTextElement of newLiturgicalText.texts; let i = index" style="margin: 0!important;">

            <div style="display: flex; justify-content: space-between; width: 80%; margin: 0!important">
              <span>Text {{i + 1}}, 

                <label for="highlight{{i}}">Evidențiere prima literă: </label>
                <input [(ngModel)]="newTextElement.highlight" id="highlight{{i}}" type="checkbox" />

                <label>Tip text: </label>
                <select [(ngModel)]="newTextElement.type">
                  <option *ngFor="let type of textTypes" [value]="type">{{ type }}</option>
                </select>
              </span>


              <button (click)="deleteTextElementFromNewLiturgicalText(i)">
                <i class="material-icons" style="font-size:12px" title="Play">delete</i>
              </button>
            </div>

            <textarea id="newTextElement{{i}}" type="text" [(ngModel)]="newTextElement.text" rows="4" style="width:80%" ></textarea>

          </div>
          <button (click)="addTextElementToNewLiturgicalText()">
            <i class="fa fa-plus"></i> Adăugați frază nouă
          </button>
          <br>
      </ng-container>

      <button (click)="addLiturgicalTextToSection()" style="width: 100px; margin: 10px auto;">
        <i class="fa fa-plus"></i>Salvează
      </button>

  </div>
  