

.section_edit_fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 1rem;
}

.highlight {
    font-weight: bold;
}

.sections-texts {
    list-style-type: upper-roman!important;
}