<ng-container *ngIf="!isEditing; else editMode">
    {{ node.type }}
    <button (click)="enableEdit()"><i class="material-icons" style="font-size: 14px">edit</i></button>
    <button (click)="addSubtype()"><i class="material-icons" style="font-size: 14px">add</i></button>
    <button (click)="deleteType()"><i class="material-icons" style="font-size: 14px">delete</i></button>
  </ng-container>
  
  <ng-template #editMode>
    <input [(ngModel)]="tempName" />
    <button (click)="saveEdit()"><i class="material-icons" style="font-size: 14px">save</i></button>
    <button (click)="cancelEdit()"><i class="material-icons" style="font-size: 14px">cancel</i></button>
  </ng-template>
  
  <!-- Recursively render subtypes, if any -->
  <ul *ngIf="node.subtypes?.length">
    <li *ngFor="let child of node.subtypes">
      <app-prayer-type-subitem
        [node]="child"
        (refreshNeeded)="onChildRefreshNeeded()"
      ></app-prayer-type-subitem>
    </li>
  </ul>
  