.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        border: 1px solid black;
        padding: 1rem;
        height: min-content;
        border-radius: 5px;
        gap: 0.5rem;

        .form-container {
            display: flex;
            flex-direction: column;

            .input-container {
                display: flex;
                flex-direction: column;
    
    
                input {
                    padding: 0.5rem;
                    border-radius: 5px;
                    border: 1px solid black;
                }
            }

            button {
                padding: 0.5rem;
                border-radius: 5px;
                border: 1px solid black;
                cursor: pointer;
                margin-top: 1rem;
            }
        }


    }
}