/* You can add global styles to this file, and also import other style files */
td {
    padding: 0.5rem;
}

button {
    background-color: white;
    border-radius: 4px;
    color: #ffe5ad;
    background-color: #790822;
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    user-select: none;
}

body {
    background-color: #ffe5ad ;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #790822;
    border-radius: 4px;
    background-color: #ffe5ad;
    resize: vertical;
}

input:not([type="file"]) {
    padding: 0.5rem;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #790822;
    border-radius: 4px;
    background-color: #ffe5ad;


}

input[disabled=true] {
    background-color: #ffe5ad;
    pointer-events: none;
    cursor: not-allowed;
}

select {
    padding: 0.5rem;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #790822;
    border-radius: 4px;
    background-color: #ffe5ad;
}

p {
    font-size: 1rem;
    color: #790822;
}

a {
    color: #790822;
}

h1 {
    color: #790822;
}

h2 {
    color: #790822;
}

h3 {
    color: #790822;
}

h4 {
    color: #790822;
}

li {
    color: #790822;
}

label {
    color: #790822;
}

b {
    color: #790822;
}

audio {
    margin: 0.5rem;
    color:#790822;
}

input[type=checkbox] {
    margin-right: 0.5rem;
    color: #790822;
}

audio::-webkit-media-controls-panel {
    background-color: #790822;
}

hr {
    border: 1px solid #790822;
}

div{
    margin-left: 1rem;
}

/*except those in the navbar*/

body {  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
    width: 8px;
    
}

::-webkit-scrollbar-thumb {
    background-color: #790822;
    border-radius: 10px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffe5ad;
}

::-webkit-scrollbar-button {
    display: none;
}
